.app {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav {
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #333;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu ul {
	list-style: none;
	display: flex;
	gap: 1rem;
}

.main {
	width: 70%;
	margin: 2rem auto;
}

.footer {
	background-color: #666;
	color: #fff;
	padding: 2rem 4rem;
}

.navItem {
	color: #fff;
	text-decoration: none;
}

.navItemActive {
	color: #ff0000;
	text-decoration: underline;
	font-weight: bold;
}
