@import '../foundation/all';

.btn {
	border: none;
	border-radius: map-get($spacing, 'xxxs');
	font-family: $body-font-family;
	font-size: $body-font-size;
	padding: map-get($spacing, 'xxs') map-get($spacing, 'sm');
}

.btn-primary {
	background-color: $btn-primary-bg-color;
	color: $btn-primary-color;
}

.btn:hover {
	background-color: $btn-primary-bg-hover;
}
