@import "../foundation/all";

$sides: left, right, top, bottom;

@each $space, $value in $spacing {
  .dse-margin-#{$space} {
    margin: $value;
  }

  @each $side in $sides {
    .dse-margin-#{$side}-#{$space} {
      margin-#{$side}: $value;
    }
  }
}
